<section>
  <h1>Games</h1>

    <li><a href="{{ root_url }}/animal-piano">Kids Animal Piano</a></li>
    <li><a href="{{ root_url }}/coloring-book">Toddler Coloring Book</a></li>
    <li><a href="{{ root_url }}/color-ripple">Color Ripple for Toddlers</a></li>
    <li><a href="{{ root_url }}/toddler-fireworks">Toddler Fireworks</a></li>
    <li><a href="{{ root_url }}/escape-the-bee">Escape the Bee</a></li>
    <li><a href="{{ root_url }}/toddler-smudge">Toddler Smudge</a></li>
    <li><a href="{{ root_url }}/toddler-central">Toddler Central</a></li>
    <li><a href="{{ root_url }}/consequence">Consequence</a></li>


  <ul id="recent_posts">
    {% for post in site.posts limit: site.recent_posts %}
      <li class="post">
        <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
