<section>
  <h1>Games</h1>

    <li><a href="{{ root_url }}/animal-piano"><img height="50px" width="50px" src="/images/icons/50/animal_piano_icon.png" />Kids Animal Piano</span></a></li>
    <li><a href="{{ root_url }}/coloring-book"><img src="/images/icons/50/tcoloring_icon.png" />Toddler Coloring Book</a></li>
    <li><a href="{{ root_url }}/color-ripple"><img src="/images/icons/50/color_ripple_icon.png" />Color Ripple for Toddlers</a></li>
    <li><a href="{{ root_url }}/toddler-fireworks"><img src="/images/icons/50/toddler_fireworks_pro_icon.png" />Toddler Fireworks</a></li>
    <li><a href="{{ root_url }}/escape-the-bee"><img src="/images/icons/50/bee_icon.png" />Escape the Bee</a></li>
    <li><a href="{{ root_url }}/toddler-smudge"><img src="/images/icons/50/smudge_icon.png" />Toddler Smudge</a></li>
    <li><a href="{{ root_url }}/toddler-central"><img src="/images/icons/50/toddler_central_icon.png" />Toddler Central</a></li>
    <li><a href="{{ root_url }}/consequence"><img src="/images/icons/50/consequence.png" />Consequence</a></li>


  <ul id="recent_posts">
    {% for post in site.posts limit: site.recent_posts %}
      <li class="post">
        <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
