<ul class="main-navigation">
    <li><a href="{{ root_url }}/home">Home</a></li>
    <li><a href="{{ root_url }}/games">Games</a></li>
    <li><a href="{{ root_url }}/about">About</a></li>
    <li><a href="{{ root_url }}/support">Support</a></li>
    <li><a href="{{ root_url }}/contact">Contact</a></li>


    <!--<li><a href="{{ root_url }}/animal-piano">Animal Piano</a></li>-->
    <!--<li><a href="{{ root_url }}/color-ripple">Color Ripple</a></li>-->
    <!--<li><a href="{{ root_url }}/support">Support</a></li>-->
</ul>
